<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,200,100,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/style.css">

    <title>MakersBnB</title>

    <script src="/js/lib/jquery.js"></script>
    <script src="/js/interface.js"></script>

  </head>

  <body>

    <div id="main_wrapper">
      <div id="layoutHeader">

        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <%= error %>
          <% end %>
        <% end %>

        <div id="layoutContentWrapper">

          <div id="emailBox">
            <% if @user %>
              <span style="color: #459CD5">logged in as: </span><%= @user.email %>
            <% else %>
              not logged in
            <% end %>
            </div>
          <% if @user %>
            <div class="layoutLinkBox" id="spaces_link">
              <div class="hoverHighlightHidden" id="spaces_highlight"></div>
              <a href="/spaces" class="layoutLink">Spaces</a>
            </div>
            <div class="layoutLinkBox">
              <div class="hoverHighlightHidden" id="spaces_highlight"></div>
              <a href="/requests" class="layoutLink">Requests</a>
            </div>
            <div class="layoutLinkBox">
              <div class="hoverHighlightHidden" id="spaces_highlight"></div>
              <form method="post" action="/sessions">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Sign Out" class="signOut">
              </form>
            </div>
            <% end %>

        </div>

      </div>
      <%= yield %>
    </div>
  </body>
</html>
