<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,200,100,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/calendar.css">

    <title>MakersBnB</title>

    <script src="/js/lib/jquery.js"></script>
    <script src="/js/interface.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="overlay_back"></div>
    <div id="login_overlay">

      <h1>Log in to makers<span style="font-weight: 400">bnb</span></h1>
      <form method="post" action="/sessions/new">

        <label for="email" style="display: none">Email: </label>
        <input type="email" name="email" id="email" placeholder="email address" class="signupBoxes" required>
        <br>
        <label for="password" style="display: none">Password: </label>
        <input type="password" name="password" id="password" placeholder="password" class="signupBoxes" required>
        <br>
        <label for="login" style="display: none">log in </label>
        <input type="submit" id="login" value="log in" class="signinButton">

      </form>
    </div>

    <div id="signup_overlay">

      <h1>Sign up to makers<span style="font-weight: 400">bnb</span></h1>

      <form method="post" action="/users">

        <label for="email" style="display: none">Email: </label>
        <input type="email" name="email" id="email" placeholder="email address" class="signupBoxes" required>

        <label for="password" style="display: none">Password: </label>
        <input type="password" name="password" id="password" placeholder="password" class="signupBoxes" required>

        <label for="password_confirmation" style="display: none">Password confirmation: </label>
        <input type="password" name="password_confirmation" id="password_confirmation" placeholder="password confirmation" class="signupBoxes" required>

        <label for="signup" style="display: none">sign up </label>
        <input type="submit" id="signup" value="sign up" class="signinButton">

      </form>

      </form>
    </div>


    <div id="main_wrapper">
      <div id="layoutHeader">

        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <%= error %>
          <% end %>
        <% end %>

        <div id="layoutContentWrapper">

          <div id="emailBox">
            <% if @user %>
              <span style="color: #459CD5">logged in as: </span><%= @user.email %>
            <% else %>
              not logged in
            <% end %>
            </div>
          <% if @user %>
            <div class="layoutLinkBox" id="spaces_link">
              <div class="hoverHighlightHidden" id="spaces_highlight"></div>
              <a href="/spaces" class="layoutLink">Spaces</a>
            </div>
            <div class="layoutLinkBox">
              <div class="hoverHighlightHidden" id="spaces_highlight"></div>
              <a href="/requests" class="layoutLink" id="requests">Requests</a>
            </div>
            <div class="layoutLinkBox">
              <div class="hoverHighlightHidden" id="spaces_highlight"></div>
              <form method="post" action="/sessions">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Sign out" id="signOut" class="signOut">
              </form>
            </div>
          <% else %>
            <div class="layoutLinkBox" id="spaces_link">
              <div class="hoverHighlightHidden" id="spaces_highlight"></div>
              <a href="/spaces" class="layoutLink">Spaces</a>
            </div>
            <div class="layoutLinkBox">
              <div class="hoverHighlightHidden" id="spaces_highlight"></div>
              <a href="#" class="layoutLink" id="signup_link">Sign up</a>
            </div>
            <div class="layoutLinkBox">
              <div class="hoverHighlightHidden" id="spaces_highlight"></div>
              <a href="#" class="layoutLink" id="login_link">Log in</a>
            </div>
          <% end %>
        </div>

      </div>
      <%= yield %>
    </div>
  </body>
</html>
