<div id="black_section">
  <div id="spacesFilter">
    <h1>Spaces</h1>
    <div style="height:5px; width: 100%"></div>
    <form>
      <input type="text" class="filter_box" placeholder="from">
      <input type="text" class="filter_box" placeholder="to">
      <input type="submit" class="filter_button" value="filter">
      <input type="submit" class="listall_button" value="list all">
    </form>
  </div>
  <div id="listSpace">
    <a href="/listSpace" class="listSpaceButton">List a space</a>
  </div>
</div>


<div id="content">

  <ul id='spaces'>
    <% @spaces.each do |space| %>
      <li>
        <h1><%= space.name %></h1>
        <p>Price: <span class="orange">£<%= space.price   %></span> per night
        <br>
        Description:  <%= space.description %>
      </p>
        <a href="spaces/<%=space.id%>" class="viewSpace">view space</a>
      </li>
    <% end %>
  </ul>

</div>
