<h1><%= @space.name %></h1>
Description:  <%= @space.description %>
Price:   <%= @space.price   %>
<br>

<form action="/spaces/<%=@id%>" method ="post">
  <input type='hidden' name='_method' value='put'>
  <label for = "date">
    Available date:
    <input type="text" name="date"/>
  </label>

  <input type="submit" value="add availability">

</form>
