<form method="post" action="/sessions/new">

  <label for="email" style="display: none">Email: </label>
  <input type="email" name="email" id="email" placeholder="email address" required>

  <label for="password" style="display: none">Password: </label>
  <input type="password" name="password" id="password" placeholder="password" required>

  <label for="login" style="display: none">log in </label>
  <input type="submit" id="login" value="log in">

</form>

<p>
  Not registered yet?
</p>
<form method="get" action="/">
  <input type="submit" id="signup" value="sign up">
</form>
