<form method="post" action="/users">

  <label for="email" style="display: none">Email: </label>
  <input type="email" name="email" id="email" placeholder="email address" required>

  <label for="password" style="display: none">Password: </label>
  <input type="password" name="password" id="password" placeholder="password" required>

  <label for="password_confirmation" style="display: none">Password confirmation: </label>
  <input type="password" name="password_confirmation" id="password_confirmation" placeholder="password confirmation" required>

  <label for="signup" style="display: none">sign up </label>
  <input type="submit" id="signup" value="sign up">

</form>
